 {% load i18n %} 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Liste des adhérents - DJ@Asso</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/round-about.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/adherents">Adhérents</a>
                    </li>
                    <li>
                        <a href="/associations">Associations</a>
                    </li>
                    <li>
                        <a href="/adherents/create">Formulaire adhésion</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Fiche d'adhésion</h2>
            </div>
            
{% if member_id %}
{% trans "email" as email %}
{% trans "phone" as phone %}
{% trans "address" as address %}
{% trans "zipcode" as zipcode %}
{% trans "city" as city %}
{% trans "accesiondate" as accesiondate %}
{% trans "membersnumber" as memberid %}

            <div class="col-lg-4 col-sm-6 text-center">
                <h3>{{ member.first_name }} {{ member.last_name }}
                    <p><small><a href="{% url 'association_list' member.association.slug %}">{{ member.association.name }}</a> - {{ member.role }}</small></p>
                </h3>
            </div>
            <div class="col-lg-12">
                <table>
                    <tr><td>{{email}}</td><td>{{ member.email }}</td></tr>
                    <tr><td>{{phone}}</td><td>{{ member.phone }}</td></tr>
                    <tr><td>{{address}}</td><td>{{ member.address }}</td></tr>
                    <tr><td>{{zipcode}}</td><td>{{ member.zipcode }}</td></tr>
                    <tr><td>{{city}}</td><td>{{ member.city }}</td></tr>
                    <tr><td>{{accesiondate}}</td><td>{{ member.accessiondate }}</td></tr>
                    <tr><td>{{membersnumber}}</td><td>{{ member.id }}</td></tr>
                </table>                
            </div>
            <div class="col-lg-12">
                <p><a href="{% url 'adherent_create' member.id %}">Modifier les informations</a></p>
            </div>
{% else %}
            <div class="col-lg-4 col-sm-6 text-center">
                <h3>Il n'y a pas de membres !</h3>
            </div>
{% endif %}

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; DJ@sso 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
